@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import "https://use.fontawesome.com/releases/v5.10.2/css/all.css";
@import './images/city.jpg';
body {
  background-color: white;
  color: white;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #e0044b;
  letter-spacing: 4px;
}

footer {
  background-color: #e0044b;
  height: 200px;
  width: 100%;
  position: relative;
  z-index: 9;
  top: 723px;
  box-shadow: 0 0 5px black;
}

.main {
  width: 794px;
  height: 1123px;
  margin: auto;
  /* border: solid 2px black; */
  /* background: rgb(224,4,75); */
  /* background: radial-gradient(circle, rgba(224,4,75,1) 0%, rgba(255,255,255,1) 25%); */
  box-shadow: 0 0 10px grey;
}

.header {
  height: 200px;
  /* background: #053160; */
  /* background: linear-gradient(90deg, #053160 0%, #000a27 100%); */
  /* clip-path: polygon(0 0, 100% 0, 100% 20%, 0% 100%); */
}

.header h1 {
  color: #000a27;
  font-size: 40px;
  padding-left: 100px;
  margin: 0;
  position: relative;
  /* top: -55px; */
  /* transform: rotate(-11.3deg); */
}

.header .title {
  height: 100px;
  /* top: 0px;
  width: 500px; */
  /* box-shadow: inset 0 0 10px; */
  /* position: relative; */
  /* clip-path: polygon(0 -0.8%, 100% 0, 100% 1%, 0% 100%); */
}

.header p {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font: bolder;
  margin: auto;
  background: #e0044b;
  width: 300px;
  transform: rotate(-10deg);
  position: relative;
  top: 37px;
  left: -40px;
  font-size: 20px;
}

.name-holder {
  width: 819px;
  left: -13px;
  position: relative;
  z-index: 10;
  top: -29px;
  height: 60px;
  background-color: white;
  border-top: solid 1px #053160;
  border-bottom: solid 1px #053160;
  transform: rotate(-10deg);
  box-shadow: 0 0 5px;
  color: #000;
  clip-path: polygon(1.4% 0%, 100% 0%, 98.4% 118%, 0% 100%);
}

.image-holder img {
  height: 250px;
  width: 185px;
  /* border: solid 5px rgba(5, 49, 96, 1); */
  /* border-bottom: none; */
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  position: absolute;
  margin-top: -200px;
  margin-left: 26px;
  z-index: 11;
}

.image-holder .dev {
  width: 80%;
  float: right;
  margin-top: -159px;
  /* background-color: ##83b541; */
  text-align: right;
  padding-right: 20px;
  vertical-align: text-bottom;
  padding-top: 15px;
}

.image-holder .dev p {
  font-family: 'Orbitron', sans-serif;
  display: inline-block;
}

.contact {
  width: 500px;
  font-size: small;
}

.contact div {
  height: 30px;
}

.contact p, .contact a {
  margin: 0;
  position: relative;
  text-align: left;
  padding-left: 10px;
  width: 200px;
  color: #fff;
  text-decoration: none;
}

.interest div, .language div {
  font-size: small;
  /* background-color: #053160; */
  margin-bottom: 10px;
  /* border: solid 1px #e0044b; */
  /* border-bottom: solid 1px #e0044b; */
  /* background: rgb(224, 4, 75);
  background: linear-gradient(32deg, rgba(224, 4, 75, 1) 59%, rgba(5, 49, 96, 0) 60%); */

  /* box-shadow: 0 0 5px black; */
}

.interest div:nth-child(2), .language div:nth-child(3) {
  background: rgb(224,4,75);
  background: linear-gradient(150deg, rgba(224,4,75,1) 49%, rgba(5,49,96,0) 50%);
}

.interest div:nth-child(3), .language div:nth-child(2) {
  background: rgb(224, 4, 75);
  background: linear-gradient(150deg, rgba(224,4,75,1) 69%, rgba(5, 49, 96, 0) 70%);
}

.interest div:nth-child(4) {
  background: rgb(224, 4, 75);
  background: linear-gradient(150deg, rgba(224,4,75,1) 59%, rgba(5, 49, 96, 0) 60%);
}

.interest div:nth-child(5) {
  background: rgb(224, 4, 75);
  background: linear-gradient(150deg, rgba(224,4,75,1) 79%, rgba(5, 49, 96, 0) 80%);
}

.language div:nth-child(2) {
  background: rgb(224, 4, 75);
  background: linear-gradient(150deg, rgba(224,4,75,1) 69%, rgba(5, 49, 96, 0) 70%);
}
.language div:nth-child(3) {
  background: rgb(224,4,75);
  background: linear-gradient(150deg, rgba(224,4,75,1) 49%, rgba(5,49,96,0) 50%);
}

.interest p, .language p {
  margin: 0px;
  width: 100px;
  color: #000;
  vertical-align: middle;
  /* background-color: #e0044b; */
  padding: 2px 7px;
  font-weight: bold;
}

.aside {
  height: 876px;
  color: #fff;
  width: 188px;
  display: inline-block;
  margin-top: -200px;
  padding: 0 25px;
  padding-top: 247px;
  position: absolute;
  z-index: 0;
  background: #053160;
  background: linear-gradient(180deg, #053160 0%, #000a27 100%);
  box-shadow: 0 0 10px black;
}

.aside i, .aside p {
  display: inline-block;
}

.aside h4 {
  padding-bottom: 14px;
  border-bottom: solid 1px #e0044b;
  text-align: center;
  letter-spacing: 5px;
  color: #e0044b;
  width: 185px;
}

.aside>div {
  margin-bottom: 40px;
}

.aside h1 {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  position: absolute;
  font-size: 85px;
  color: #000a27;
  margin-top: -85px;
  margin-left: -26px;
  opacity: 0.1;
  letter-spacing: 7px;
}

.section {
  display: inline-block;
  width: 557px;
  height: 940px;
  float: right;
  margin-top: -100px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  background-color: white;
  /* border-top: 4px solid #e0044b; */
}

.section h4 {
  background-color: #fff;
  color: #e0044b;
  text-align: center;
  /* border-top: solid 1px #e0044b; */
  /* border-bottom: solid 1px #e0044b; */
  position: relative;
  top: -10px;
  display: inline-block;
  padding: 0px 8px;
  margin: 0;
}

.section .heding {
  text-align: center;
}

.section .info {
  text-align: center;
  font-size: 11px;
}

.education, .about, .tu-gabrovo {
  /* border: solid 1px #e0044b; */
  width: 100%;
  background-color: #fff;
  color: #000a27;
  /* padding: 10px; */
  text-align: justify;
  margin-bottom: 50px;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.about {
  margin-top: 30px;
  /* max-height: 100px; */
}

.about p, .tu-gabrovo p{
  text-align: justify;
  position: relative;
  /* top: -30px; */
}

/* .education div {
  height: 330px;
  background: #053160;
  background: radial-gradient(circle, #053160 0%, rgba(255, 255, 255, 1) 79%);
} */

/* .education a {
  color: #000a27;
  text-decoration: none;
  display: inline-block;
  background-color: #fff;
  width: 278px;
  height: 108px;
  margin: 1px;
  position: relative;
  float: left;
}

.education a:hover {
  background: none;
  color: white;
  text-shadow: 0 0 4px black;
  /* border: solid 1px red; */
/* } */ 

.about .title-holder {
  background-color: white;
  /* background-color: #aba2a2; */
  height: 30px;
  width: 204px;
  position: relative;
  top: -70px;
  left: 343px;
  padding-top: 40px;
}