@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import "https://use.fontawesome.com/releases/v5.10.2/css/all.css";
@import './images/city.jpg';
body {
  background-color: white;
  color: white;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #e0044b;
  letter-spacing: 4px;
}

.main {
  width: 794px;
  height: 1123px;
  margin: auto;
}

.header {
  height: 200px;
  clip-path: polygon(0 0, 100% 0, 100% 20%, 0% 100%);
}

.header h1 {
  color: rgb(0, 10, 39);
  font-size: 40px;
  padding-left: 50px;
}

.header p {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font: bolder;
  width: 400px;
  height: 80px;
  margin: auto;
  background: #053160;
  background: linear-gradient(90deg, #053160 0%, #000a27 100%);
  box-shadow: inset 0 0 10px;
}

.image-holder img {
  height: 250px;
  width: 185px;
  border: solid 5px rgba(5, 49, 96, 1);
  border-bottom: none;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  position: absolute;
  margin-top: -201px;
  margin-left: 20px;
  z-index: 1;
}

.image-holder .dev {
  width: 80%;
  float: right;
  margin-top: -159px;
  /* background-color: ##83b541; */
  text-align: right;
  padding-right: 20px;
  vertical-align: text-bottom;
  padding-top: 15px;
}

.image-holder .dev p {
  font-family: 'Orbitron', sans-serif;
  display: inline-block;
}

.contact {
  width: 500px;
  font-size: small;
}

.contact div, .interest div {
  height: 30px;
}

.contact p, .contact a, .interest p {
  position: relative;
  text-align: left;
  padding-left: 10px;
  width: 200px;
  margin: 3px;
  color: #fff;
  text-decoration: none;
}

.aside {
  height: 582px;
  background-color: #dbff15;
  background-color: #c6e6ff;
  background-color: #000a27;
  color: #fff;
  width: 183px;
  /* box-shadow: 0 0 5px; */
  display: inline-block;
  margin-top: -44px;
  padding: 93px 25px;
  clip-path: polygon(0 6.2%, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  z-index: 0;
  background: rgb(5, 49, 96);
  background: linear-gradient(180deg, rgba(5, 49, 96, 1) 0%, rgba(0, 10, 39, 1) 100%);
  box-shadow: inset 0 0 10px;
}

.aside i, .aside p {
  display: inline-block;
}

.aside h4 {
  padding-bottom: 14px;
  border-bottom: solid 1px #e0044b;
  text-align: center;
  letter-spacing: 5px;
  color: #e0044b;
  width: 185px;
}

.aside>div {
  margin-bottom: 40px;
}

.aside h1 {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  position: absolute;
  font-size: 85px;
  /* transform: rotate(-11.3deg); */
  color: #000a27;
  margin-top: -85px;
  margin-left: -26px;
  opacity: 0.1;
  letter-spacing: 7px;
}

.section {
  display: inline-block;
  width: 552px;
  height: 940px;
  border: solid 3px #000a27;
  float: right;
  margin-top: -158px;
  margin-right: 0px;
  clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%);
  background-color: #000a27;
}
.section h4 {
  margin: 10px;
  text-align: right;
}

.section .heding {
  text-align: center;
}
.section .info {
  text-align: center;
  font-size: 11px;
}

.about{
  padding-top: 50px;
  width: 540px;
  /* height: 200px; */
  text-align: justify;
  padding: 10px;
}

.education {
  background-color: #fff;
  color: #000;
  margin-left: -4px;
  border: inset 0 0 10px;
  width: 561px;
  text-align: justify;
  padding: 0px;
  background: rgb(5,49,96);
background: radial-gradient(circle, rgba(5,49,96,1) 0%, rgba(255,255,255,1) 79%);
}
.education h4 {
  background-color: #fff;
  margin: 4px 0;
  height: 22px;
}
.education div, .education a {
  color: #000a27;
  text-decoration: none;
  display: inline-block;
  background-color: #fff;
  width: 278px;
  height: 108px;
  margin-bottom: 3px;
  position: relative;
}
.education a:hover {
  background: none;
  /* color: #e0044b; */
  /* border: solid 1px red; */
}