@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import "https://use.fontawesome.com/releases/v5.10.2/css/all.css";
@import './images/city.jpg';
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
:root {
  --dark: #02173a;
  --bright: #e0044b;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, .heading {
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: var(--bright);
  letter-spacing: 4px;
}

.main {
  width: 794px;
  height: 1123px;
  margin: auto;
  box-shadow: 0 0 10px grey;
  display: flex;
}

.aside {
  min-height: 100%;
  width: 27%;
  padding: 0 25px;
  color: #fff;
  background: #053160;
  background: linear-gradient(180deg, #053160 0%, var(--dark) 100%);
  box-shadow: 0 0 10px black;
}

.aside .flex {
  min-height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside .image-holder img {
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.aside div {
  width: 100%;
  font-size: 14px;
}

.aside .contact div, .interest div, .language div {
  min-height: 30px;
  justify-content: space-between;
}

.aside .hobbies i {
  font-size: 20px;
  padding-left: 15px;
}

.aside i, .aside p {
  display: inline-block;
}

.aside h4 {
  padding-bottom: 14px;
  border-bottom: solid 2px var(--bright);
  text-align: center;
  color: var(--bright);
}

.contact {
  /* text-align: center; */
}

.contact p, .contact a {
  color: #fff;
  text-decoration: none;
}

.interest p, .language p, .contact p {
  margin: 0px;
}

.interest i, .language i, .contact i {
  padding: 5px 7px;
}

.interest div {
  background-color: none;
}

.section {
  width: 67%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  color: var(--dark);
}

.section .education-holder {
  text-align: center;
}

.section .name, .section .role {
  margin: 0;
  text-transform: uppercase;
  color: var(--dark);
  text-align: center;
  margin: 10px 0;
}

.section .name-holder {
  box-shadow: 0 0 10px #e1e1e1;
  text-shadow: 0 0 10px #e1e1e1;
}

.section .name {
  font-size: 50px;
  font-weight: 100;
  margin: 20px;
}

.section .role {
  margin: 10px;
}

.section a {
  text-decoration: none;
  color: var(--dark);
}

.section h4, .section .heading {
  color: white;
  background: #042f5d;
  width: 270px;
  margin: 0;
  padding: 5px 0;
  text-align: center;
  margin-left: 242px;
  box-shadow: 0 0 10px #b1b1b1;
  border-radius: 30px 0 0 30px;
}

.about-holder, .name-holder {
  margin-bottom: 20px;
}

.section p {
  text-align: left;
  letter-spacing: 1px;
  line-height: 18px
}

.courses {
  text-align: left;
}

.line {
  min-height: 100px;
  min-width: 2px;
  width: 2px;
  background-color: var(--dark);
  margin: 0 20px;
}

.line div {
  width: 8px;
  height: 8px;
  background-color: var(--dark);
  border-radius: 10px;
  margin-top: 17px;
  margin-left: -3px;
}

.section ul {
  list-style-type: none;
  padding: 0;
}

.section ul li {
  display: flex;
  width: 100%;
}

.section ul li .right {
  text-align: right;
}

.section ul li>div:first-child {
  min-width: 130px;
}

.bold {
  font-weight: bold;
}

.about-holder p {
  text-align: justify;
}