@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import "https://use.fontawesome.com/releases/v5.10.2/css/all.css";
@import './images/city.jpg';
:root {
  --dark: #02173a;
  --bright: #e0044b;
}

body {
  background-color: white;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: var(--bright);
  letter-spacing: 4px;
}

.main {
  width: 794px;
  height: 1123px;
  margin: auto;
  box-shadow: 0 0 10px grey;
  display: flex;
}

.aside {
  min-height: 100%;
  width: 188px;
  padding: 0 25px;
  color: #fff;
  background: #053160;
  background: linear-gradient(180deg, #053160 0%, var(--dark) 100%);
  box-shadow: 0 0 10px black;
}

.aside .image-holder img {
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.aside div {
  width: 100%;
  font-size: 13px;
}

.aside .contact div {
  height: 30px;
}

.aside i, .aside p {
  display: inline-block;
}

.aside h4 {
  padding-bottom: 14px;
  border-bottom: solid 1px var(--bright);
  text-align: center;
  color: var(--bright);
}

.contact p, .contact a {
  margin: 0;
  position: relative;
  text-align: left;
  color: #fff;
  text-decoration: none;
}

.interest div, .language div {
  margin-bottom: 10px;
}

.interest p, .language p {
  margin: 0px;
  color: #000;
  padding: 2px 7px;
  font-weight: bold;
}

.interest div:nth-child(2), .language div:nth-child(3) {
  background: var(--bright);
  background: linear-gradient(150deg, var(--bright) 49%, rgba(5, 49, 96, 0) 50%);
}

.interest div:nth-child(3), .language div:nth-child(2) {
  background: var(--bright);
  background: linear-gradient(150deg, var(--bright) 69%, rgba(5, 49, 96, 0) 70%);
}

.interest div:nth-child(4) {
  background: var(--bright);
  background: linear-gradient(150deg, var(--bright) 59%, rgba(5, 49, 96, 0) 60%);
}

.interest div:nth-child(5) {
  background: var(--bright);
  background: linear-gradient(150deg, var(--bright) 79%, rgba(5, 49, 96, 0) 80%);
}

.language div:nth-child(2) {
  background: var(--bright);
  background: linear-gradient(150deg, var(--bright) 69%, rgba(5, 49, 96, 0) 70%);
}

.language div:nth-child(3) {
  background: var(--bright);
  background: linear-gradient(150deg, var(--bright) 49%, rgba(5, 49, 96, 0) 50%);
}

.section {
  width: 557px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-size: 15px;
}

.section a {
  text-decoration: none;
  color: var(--dark);
}

.section h4 {
  background-color: var(--dark);
  color: #fff;
}

.about p {
  text-align: justify;
}

.courses {
  color: var(--dark);
  text-align: left;
}

.section ul {
  list-style-type: none;
  padding: 0;
}

.section ul li {
  display: flex;
  /* justify-content: center; */
}

.section ul li div {
  min-width: 130px;
}

.section ul li div:first-child {
  border-right: solid 1px var(--dark);
  margin-right: 15px;
  padding-right: 15px;
  text-align: right;
}

.bold {
  font-weight: bold;
}